
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-about .card-body{
        padding:112px 0px 0px 10px;
    }
    .custom-about .col-md-6 h5 {
        font-size: 30px;
        font-weight: 700;
    }
    .icon-tag .card a {
        font-size: 26px;
        padding: 20px 0px 0px 30px;
    }
</style>
<div class="container custom-about">
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="~/images/about.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">We are a team providing service to india.</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
 
</div>

<div class="container heading">
    <div class="card mb-3 text-center border-0">
        <div class="card-body">
            <h5 class="card-title fs-3 fw-bold">The Value We Live By</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row row-cols-1 row-cols-md-3 g-4 icon-tag">
        <div class="col">
            <div class="card shadow border-0">
                <a href=""><i class="fa-solid fa-arrow-pointer"></i></a>
                <div class="card-body">
                    <h5 class="card-title">Hard Work</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow border-0">
                <a href=""><i class="fa-solid fa-arrow-pointer"></i></a>
                <div class="card-body">
                    <h5 class="card-title">Passion</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow border-0">
                <a href=""><i class="fa-solid fa-arrow-pointer"></i></a>
                <div class="card-body">
                    <h5 class="card-title">Teamwork</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-4">
    <section>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h3 class="mb-4 mt-3 fs-3 fw-bold">Our Team</h3>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                    numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                    quisquam eum porro a pariatur veniam.
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4 mb-5 mb-md-0">
                <div class="d-flex justify-content-center mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                         class="rounded-circle shadow-1-strong" width="150" height="150" />
                </div>
                <h5 class="mb-3">Maria Smantha</h5>
                <h6 class="text-primary mb-3">Web Developer</h6>
                <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic
                    tenetur.
                </p>
                
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <div class="d-flex justify-content-center mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                         class="rounded-circle shadow-1-strong" width="150" height="150" />
                </div>
                <h5 class="mb-3">Lisa Cudrow</h5>
                <h6 class="text-primary mb-3">Graphic Designer</h6>
                <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.
                </p>
               
            </div>
            <div class="col-md-4 mb-0">
                <div class="d-flex justify-content-center mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                         class="rounded-circle shadow-1-strong" width="150" height="150" />
                </div>
                <h5 class="mb-3">John Smith</h5>
                <h6 class="text-primary mb-3">Marketing Specialist</h6>
                <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus et iusto odio
                    dignissimos ducimus qui praesentium voluptatum deleniti atque corrupti.
                </p>
                
            </div>
        </div>
    </section>
</div>

