@model trial2.Models.Home
@{
    ViewBag.Title = "Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h2 class="text-center pt-4">Our Best Offers</h2>
<div class="container p-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
     
        @foreach (var item in Model.Offerlist)
        {
            i++;
            var active = i == 1 ? "active" : "";
            <div class="col">
                <div class="card">
                    <img src="~/Data/@item.Product_image" class="card-img-top" style="height:40vh;">
                    <div class="card-body">
                        <h5 class="card-title text-center">@item.Product_title</h5>
                        <p class="card-text text-center">@item.Product_desc</p>
                    </div>
                </div>
            </div>


        }

    </div>
</div>